@media (max-width: 1024px) {
  /* glob */
  .container {
    width: 90.2%;
    margin: 0 auto;
  }
  /* header */
  .header .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 22px 0;
  }

  .header__nav {
    visibility: hidden;
    position: absolute;
    left: -5%;
    top: 0;
    width: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header__nav .nav__list {
    color: rgba(255, 99, 71, 0);
  }

  .header {
    position: relative;
  }
  .header__wrap .header__nav--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    padding: 152px 20px 0 50px;
    width: 420px;
    height: 100vh;
    background-color: #ffffff;
    z-index: 15;
  }
  .header__nav--active .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #333333;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 23px;
  }

  .burger__line {
    width: 30px;
    height: 2px;
    position: absolute;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color: #222222;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .burger__line:nth-child(2) {
    top: calc(50% - 1px);
  }
  .burger--active {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid #cacaca;
    border-radius: 50%;
    opacity: 1;
    z-index: 20;
    -webkit-transition: border-color 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
  }
  .burger--active .burger__line:nth-child(2) {
    display: none;
  }
  .burger--active .burger__line:nth-child(1) {
    width: 16px;
    left: 22.3%;
    top: 48%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    background-color: #cacaca;
  }

  .burger--active .burger__line:nth-child(3) {
    width: 16px;
    left: 22.3%;
    top: 48%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    background-color: #cacaca;
  }
  .burger--active:hover {
    border-color: #ff9900;
  }
  .burger--active:hover .burger__line {
    background-color: #ff9900;
  }
  .burger--active:focus-visible {
    border-color: #cacaca;
  }
  .burger--active:focus-visible .burger__line {
    border-color: #cacaca;
  }

  .burger--active:active {
    border-color: #000000;
  }
  .burger--active:active .burger__line {
    background-color: #000000;
  }
  .header__wrap {
    width: auto;
  }
  .header__logo img {
    width: 150px;
    height: 48px;
  }

  /* HERO */
  .hero .container .swiper {
    /* max-height: 620px; */
    height: 665px;
  }
  .main .container {
    padding: 40px 0 25px;
  }
  .hero .container {
    padding-bottom: 0;
  }
  .hero__wrap {
    top: 162px;
    left: 78px;
  }

  .hero__wrap .slider__title {
    max-width: 100%;
  }
  .slider__title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }
  .slider__img {
    height: 668px;
    border-radius: 32px;
  }
  .slider__descr {
    max-width: 660px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 23px;
  }

  /* ABOUT */
  .about .container {
    padding-top: 35px;
  }
  .about__desc {
    max-width: none;
    margin-bottom: 60px;
  }
  .about__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about__img {
    max-width: 100%;
    min-width: 100%;
    min-height: 640px;
  }
  .about__card {
    padding: 63px 153px 10px 300px;
    background-position: 75px center;
  }
  .title__third {
    margin-bottom: 6px;
  }
  .about__wrap-right {
    min-width: 100%;
  }

  /* WORK */

  #work .container {
    padding: 50px 0 41px;
  }
  .work__wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .wrap__left {
    margin-right: 4.1%;
    max-width: 48.8%;
  }

  .work__desc {
    margin-bottom: 24px;
  }

  .work .container .nav__list {
    margin-bottom: 50px;
  }

  /* questions */
  #questions .container {
    padding-bottom: 78px;
  }
  .ac .ac-trigger {
    font-size: 20px;
    line-height: 32px;
  }
  /* footer */

  .footer .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 52px 0 10px;
  }
  .footer .wrap__right {
    display: none;
  }
  .form__wrap {
    padding: 0;
    margin-bottom: 33px;
  }
  .wrap__center {
    width: 58.5%;
    max-width: 541px;
    margin-bottom: 27px;
  }
  .form__title {
    margin-bottom: 23px;
  }
  .form__mail,
  .form__text,
  .form__message {
    min-width: 100%;
  }
  .form__button {
    padding-right: 26px;
    padding: 18px 38px 18px 38px;
  }
  .wrap__button {
    padding: 0;
  }
}

@media (max-width: 1660px) {
  .footer .container .wrap__right {
    display: none;
  }
  .slider__title {
    max-width: 74%;
  }
}
@media (max-width: 1300px) {
  .slider__title {
    max-width: 88%;
  }
}
@media (max-width: 768px) {
  /* GLOB */

  .container {
    width: 87.2%;
  }

  /* HEADER */
  .header .container {
    padding: 7px 0;
  }
  .header__wrap {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .burger[hidden] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__wrap .header__nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__nav {
    left: -6.4%;
  }
  /* SEARCH */
  .form__search {
    top: 4px;
  }
  /* HERO */

  .hero__wrap {
    left: 40px;
    top: 160px;
  }

  .hero__wrap .slider__title {
    max-width: 100%;
  }
  .slider__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }

  .slider__descr {
    max-width: 88%;
    font-size: 18px;
    line-height: 22px;
  }
  .slider__descr {
    margin-bottom: 59px;
  }

  /* ABOUT */
  #about .container {
    padding-top: 36px;
  }
  .about__content {
    padding: 35px 37px 33px 42px;
  }
  .about__content-text {
    max-width: 63.5%;
  }
  .about__card {
    min-height: 235px;
    padding: 33px 47px 0 165px;
    background-position: 43px center;
    background-size: 114px 99px;
  }
  .about__desc {
    margin-bottom: 54px;
  }
  .about__img {
    min-height: 650px;
    min-width: 100%;
  }

  /*  WORK */
  #work .container {
    padding: 56px 0 41px;
  }
  .section__title-work {
    margin-bottom: 45px;
  }
  .work .container .nav__list {
    max-width: 100%;
    margin-bottom: 45px;
  }
  .work__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .work__wrap .wrap__right {
    min-height: 284px;
    margin-bottom: 38px;
  }
  .work__wrap .wrap__left {
    max-width: 100%;
    margin-right: 0;
  }
  .work__wrap .wrap__right {
    min-width: 1px;
    max-width: 100%;
  }
  .tabs-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  /* questions */

  #questions .container {
    padding-top: 10px;
    padding-bottom: 115px;
  }
  .ac .ac-trigger {
    padding: 32px 37px 35px 0px;
    line-height: 30px;
  }

  /* footer */

  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .wrap__center {
    width: 81.5%;
    max-width: 545px;
    margin-bottom: 41px;
  }
  .footer__list {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__wrap .header__nav--active {
    width: 112.8%;
    padding: 140px 0 0 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: right;

    color: #333333;
  }
  .header__wrap {
    position: static;
  }
  .header__nav {
    overflow: auto;
  }
  .header__nav--active .nav__list {
    gap: 32px;
  }

  .hero .container .swiper {
    height: 308px;
    border-radius: 16px;
  }

  .hero__wrap {
    top: 60px;
  }
  .container .swiper .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
  }
  .hero .container .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: var(--swiper-pagination-bottom, 13px);
  }
  /* SEARCH */
  .form__search {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 69px;
    border-radius: 0px 0px 24px 24px;
  }
  .search__input {
    padding-bottom: 8px;
  }

  .search__input::-webkit-input-placeholder {
    color: #cacaca;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }
  .search__input:-moz-placeholder {
    color: #cacaca;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }
  .search__input::-moz-placeholder {
    color: #cacaca;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }
  .search__input:-ms-input-placeholder {
    color: #cacaca;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }

  /* HERO */
  .hero .container {
    padding-top: 30px;
  }

  .hero__wrap {
    top: 60px;
    left: 0px;
    text-align: center;
  }
  .slider__title {
    padding: 0 15px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }
  .slider__descr {
    margin: 0 auto 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .slider__btn {
    padding: 6px 32px;
    margin-bottom: 60px;
    border-radius: 8px;
    font-size: 12px;
  }
  .slider__swiper {
    bottom: 11px;
    left: calc(50% - 35px);
  }
  .slider__swiper-around {
    width: 10px;
    height: 10px;
  }
  .section__title {
    font-size: 24px;
    line-height: 28px;
  }
  .title__third {
    font-size: 18px;
    line-height: 22px;
  }
  .descr {
    font-size: 14px;
    line-height: 28px;
  }
  .work .container .nav__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .ac .ac-trigger {
    padding: 32px 8px 28px 0px;
  }

  .ac .ac-trigger:active,
  .ac .ac-trigger {
    font-size: 20px;
    font-size: 14px;
    line-height: 24px;
  }
  .accordion-img {
    height: 30px;
    width: 30px;
  }
  .hero .container .swiper .swiper-pagination-bullet:active,
  .hero .container .swiper .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
  }
  .hero .container .swiper .swiper-pagination-bullet:focus {
    width: 12px;
    height: 12px;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about__content-text {
    max-width: 100%;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__content-btn {
    padding: 8px 42px;
    border-radius: 8px;
    font-size: 12px;
    color: #ff9900;
  }
  /* ABOUT */
  #about .container {
    padding-top: 60px;
  }
  .about__img {
    min-height: 200px;
    height: 200px;
    margin-bottom: 204px;
    border-radius: 16px;
  }
  .about__content {
    max-width: 290px;
    bottom: -202px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding: 0;
    background: none;
  }
  .about__content {
    align-items: center;
    left: calc(50% - 150px);
  }
  .about__content-text {
    margin-bottom: 12px;
    max-width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

    color: #000000;
  }
  .about__content-btn {
    padding: 8px 42px;
    border-radius: 8px;
    font-size: 12px;
    color: #ff9900;
  }

  .work .container .nav__list .nav__item {
    font-size: 14px;
    line-height: 17px;
  }
  .work__wrap .wrap__right {
    min-height: 160px;
    border-radius: 16px;
    margin-bottom: 22px;
  }
  .wrap__left .title__third {
    margin-bottom: 12px;
  }
  .work__button {
    color: #000000;
  }
  .work__button-first {
    font-size: 12px;
    line-height: 15px;
  }
  .wrap__left .work__button-first {
    padding: 13px 44px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .wrap__left .work__button-second {
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .work .container .nav__list {
    gap: 30px;
  }
  .tabs-nav__btn--active {
    color: #e1670e;
  }
  #questions .container {
    padding-bottom: 60px;
  }
  .accordion__title-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .wrap__center {
    width: 81.5%;
    max-width: 545px;
    margin-bottom: 41px;
  }
  .footer .container {
    padding: 34px 0 0px;
  }

  .form__wrap {
    margin-bottom: 26px;
  }

  .form {
    font-size: 14px;
    line-height: 32px;
  }

  .footer__img {
    width: 131px;
    height: 42px;
  }
  .footer .container .wrap__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .footer {
    padding-bottom: 30px;
  }
  .footer .container {
    padding: 34px 0 0px;
  }
  .wrap__center {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 16px;
    border-bottom: 2px solid #414141;
  }
  .form__wrap {
    margin-bottom: 26px;
  }
  .form__title {
    font-size: 35px;
    line-height: 29px;
  }
  .form__title {
    margin-bottom: 19px;
  }

  .form__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 19px;
  }

  .form {
    font-size: 14px;
    line-height: 32px;
  }
  .form__button {
    padding: 12px 29px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__img {
    width: 131px;
    height: 42px;
  }

  .footer__social-link svg {
    width: 50px;
    height: 50px;
  }

  .foter__social {
    max-width: 150px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footer__social-item:first-child {
    margin-right: 16px;
  }
  .foter__social {
    max-width: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .wrap__link {
    margin-bottom: 12px;
  }
  .about__desc {
    margin-bottom: 15px;
  }
  .about__card {
    background-position: top left;
    background-size: 70px 60px;
    padding: 72px 0 0 0;
    border: none;
  }
  .about__card-second {
    background-size: 64px 53px;
    padding: 62px 0 0 0;
  }
}
@media (max-width: 320px) {
  /* GLOB */
  .container {
    width: 90.4%;
  }

  .title__third {
    margin-bottom: 4px;
  }
  /* SEARCH */
  .search__input {
    margin-right: 0;
  }
  /* HEADER */

  .header .container {
    padding: 17px 0 10px;
    border-radius: 0px 0px 7px 7px;
  }
  .header__logo img {
    width: 110px;
    height: 35px;
  }
  /* HERO */

  /* WORK */

  #work .container {
    padding: 37px 0 41px;
  }
  .section__title-work {
    margin-bottom: 15px;
  }
  .work .container .nav__list {
    gap: 30px;
    margin-bottom: 11px;
  }

  /* questions */

  #questions .container {
    padding-top: 19px;
    padding-bottom: 58px;
  }
  .accordion__title-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .section__title-questions {
    margin-bottom: 17px;
  }
  .accordion__details summary {
    padding: 31px 0 30px;
  }
  .accordion-img {
    height: 30px;
    width: 30px;
  }
  .accordion__title-text {
    max-width: 241px;
  }

  /* FOOTER */
  .footer .container {
    padding: 34px 0 27px;
  }

  .footer__social-link svg {
    width: 40px;
    height: 40px;
  }
}
